- ems = @criticism.errors.messages
.middle-box
  .sub-header
    Words of Wisdom
  = form_for @criticism do |f|
    %table
      %tr
        %td
          .note
            Feel like criticizing someone? Listed below are few crazy people who built this app so that you guys can criticize them.  We are doing this as an experiment for our character meeting topic “CRITICISM”. So go ahead and feel free to criticize! Please do mind your language
            = image_tag('biggrin.gif')
      %tr{:style =>'height:80px;'}
        %td
          %span{:style =>'font-size:16px;'}
            Person
          - if ems[:critique_receiver]
            %span{:style =>'color:red;'}
              = ems[:critique_receiver].first.to_s
          %br
          = collection_select(:criticism, :critique_receiver_id, @receivers, :id, :name_with_email_and_department, :prompt => true)

      %tr
        %td
          %span{:style =>'font-size:16px;'}
            Criticism/Opinion
          - if ems[:comment]
            %span{:style =>'color:red;'}
              = ems[:comment].first.to_s
          %br
          = f.text_area(:comment)

      %tr
        %td
          = f.submit 'Submit'