- ems = @criticism.errors.messages
.middle-box
  = form_for @criticism , :html => {:class => "form-horizontal"} do |f|
    %h4 Word of Wisdom
    %span
      Feel like criticizing someone? As an experiment for our character meeting topic "Criticism", few crazy people have listed themselves, so that you can freely criticize them. All the comment posted will be annonymous and please do mind your language.
      = image_tag('biggrin.gif')
      <br />
      <br />

      %label 
        Person
      - if ems[:critique_receiver]
        %span{:style =>'color:red;'}
          = ems[:critique_receiver].first.to_s
      = collection_select(:criticism, :critique_receiver_id, @receivers, :id, :name_with_email_and_department, {:prompt => true}, {:class => "span7"})
      %br
      %br

      %label
        Criticism/Opinion
      - if ems[:comment]
        %span{:style =>'color:red;'}
          = ems[:comment].first.to_s
      = f.text_area(:comment)
      %br
      %br
      = f.submit 'Submit', :class => "btn btn-primary"
